<!DOCTYPE HTML>
<html>
<head>
	<title>LAngley | Login</title>
	<!-- Custom Theme files -->
	<link href="css/style_login.css" rel="stylesheet" type="text/css" media="all"/>
	<!-- Custom Theme files -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="" />
	<meta name="keywords" content="" />


</head>
<body>
<div class="login">
	<div class="login-top">
		<h1>登陆</h1>
		<form method="get" action="/hosLogin/hosLogin">
			<input type="text" name="hospital" value="" placeholder="用户名" id="id1">
			<input type="password" name="psw" value="" placeholder="密码" id="id2">
			<div class="forgot">
				<!--<a href="#">forgot Password</a>-->
				<input type="submit" value="Login" onclick="return checkform()">
			</div>
		</form>

	</div>
	<div class="login-bottom">
		<h1>小天使大健康平台</h1>
	</div>
</div>
<div class="copyright">
	<p>Copyright &copy; 小天使大健康平台 All rights reserved.</p>
</div>
<script type="text/javascript" >
    function checkform(){
        if(document.getElementById('id1').value.length==0){
            alert('用户名输入不能为空！');
            document.getElementById('id1').focus();
            return false;
        }
        if(document.getElementById('id2').value.length==0){
            alert('密码输入不能为空！');
            document.getElementById('id2').focus();
            return false;
        }
    }

</script>

</body>
</html>