<!DOCTYPE HTML>

<html>
<head>
    <title>LAngel - UserInfo</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/jquery-ui.js"></script>

    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script>
        $(function() {
            $( "#accordion" ).accordion({
                collapsible: true
            });
        });
    </script>
</head>
<body>

<!-- Header -->
<header id="header" class="skel-layers-fixed" style="opacity:0.60">
    <nav id="nav">
        <ul>
            <li><img src="./images/hospital_4.png" style="margin-left:4%"></li>
            <li><a href="">明基医院</a></li>
            <li><a href="#user">用户</a></li>
            <li><a href="#case">病例</a></li>
            <li><a href="#data">数据</a></li>
        </ul>
    </nav>
</header>


<!-- Main -->
<section id="main" class="container">


    <!--用户-->
    <div class="box row" id="user" style="background:#E1E1E1">
        <div class="col-md-2">
            <img src="./images/user.png" style="width:140px"></div>
        <div class="col-md-5">
            <label name="username"><h1>小白鸽</h1></label><br>
            <b>Ht：<label name="height">183</label>cm</b>
            <b>Wt：<label name="weight">68</label>kg<br></b>
            <b>年龄：<label name="age">25</label></b>
            <label name="sex">男</label>
        </div>
    </div>
    <!--添加病例-->
    <div id="case" class="box row" style="background:#E1E1E1">
        <form method="get" action="#" class="col-md-12" >

            <div class="row uniform half" >
                <div class="12u">
                    <input type="text" name="diseaseName" id="subject" value="" placeholder="病名" />
                </div>
            </div>
            <div class="row uniform half">
                <div class="12u">
                    <textarea name="symptom" id="message" placeholder="症状" rows="6"></textarea>
                </div>
            </div>
            <div class="row uniform half">
                <div class="12u">
                    <textarea name="treatment" id="message" placeholder="治疗" rows="6"></textarea>
                </div>
            </div>

            <div class="row uniform half collapse-at-2">
                <div class="3u">
                    <input type="text" name="hos" id="name" value="" placeholder="医院" />
                </div>
                <div class="3u">
                    <input type="text" name="doc" id="email" value="" placeholder="医生" />
                </div>
                <div class="3u">
                    <input type="text" name="time" id="email" value="" placeholder="时间" />
                </div>
                <div class="3u">
                    <ul class="actions align-center">
                        <li><input type="submit" value="添加病例" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <!--折叠病例-->
    <div class="box row" style="background:#E1E1E1">
        <div id="accordion" >
            <!--1-->
            <h3 style="font-color:#fff"><label id="illness_1" name="illness_1" style="font-color:#fff">腰肌劳损</label>
                <label id="time_1" name="time_1">2018/08/16</label>
            </h3>
            <div><label id="hospital_1" name="hospital_1">明基医院</label>
                <label id="doctor_1" name="doctor_1">张智涛</label><br>
                <label id="symptom_1" name="symptom_1">慢性疼痛，且多无明显诱发因素。
                    疼痛发作时患者常感到腰部又酸又胀，休息片刻后能够得到缓解。若卧床太久，
                    又会感觉不舒服，稍微活动之后反而有所好转，但活动过久则又加重疼痛</label><br>
                <label id="cure_1" name="cure_1">布洛芬</label>
            </div>
            <!--2-->
            <h3><label id="illness_2" name="illness_2">腰肌劳损</label>
                <label id="time_2" name="time_2">2018/08/16</label>
            </h3>
            <div><label id="hospital_2" name="hospital_2">明基医院</label>
                <label id="doctor_2" name="doctor_2">张智涛</label><br>
                <label id="symptom_2" name="symptom_2">慢性疼痛，且多无明显诱发因素。
                    疼痛发作时患者常感到腰部又酸又胀，休息片刻后能够得到缓解。若卧床太久，
                    又会感觉不舒服，稍微活动之后反而有所好转，但活动过久则又加重疼痛</label><br>
                <label id="cure_2" name="cure_2">布洛芬
                </label>
            </div>
            <!--3-->
            <h3><label id="illness_3" name="illness_3">腰肌劳损</label>
                <label id="time_3" name="time_3">2018/08/16</label>
            </h3>
            <div><label id="hospital_3" name="hospital_3">明基医院</label>
                <label id="doctor_3" name="doctor_3">张智涛</label><br>
                <label id="symptom_3" name="symptom_3">慢性疼痛，且多无明显诱发因素。
                    疼痛发作时患者常感到腰部又酸又胀，休息片刻后能够得到缓解。若卧床太久，
                    又会感觉不舒服，稍微活动之后反而有所好转，但活动过久则又加重疼痛</label><br>
                <label id="cure_3" name="cure_3">布洛芬
                </label>
            </div>
        </div>
    </div>
    <!--数据-->
    <div id="data" class="box row" style="background:#E1E1E1">
        <div class="col-md-4" id="rate">
            <h3>心率 </h3>
            <canvas class="my-4 w-100" id="rateChart" width="900" height="580"></canvas>
        </div>
        <div class="col-md-4" id="step">
            <h3>步数 </h3>
            <canvas class="my-4 w-100" id="stepChart" width="900" height="580"></canvas>
        </div>
        <div class="col-md-4" id="sleep">
            <h3>睡眠时间 </h3>
            <canvas class="my-4 w-100" id="sleepChart" width="900" height="580"></canvas>
        </div>
    </div>
</section>

<!-- Footer -->
<div class="copyright">
    Copyright &copy; 小天使大健康平台 All rights reserved.
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script>
    var ctx = document.getElementById("rateChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#F45B4B',
                borderWidth: 4,
                pointBackgroundColor: '#F45B4B'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>

<script>
    var ctx = document.getElementById("sleepChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#F45B4B',
                borderWidth: 4,
                pointBackgroundColor: '#F45B4B'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("stepChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#F45B4B',
                borderWidth: 4,
                pointBackgroundColor: '#F45B4B'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>

</body>
</html>